* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: juanaBold;
  src: url(../Fonts/JuanaBold.otf);
}
@font-face {
  font-family: trialRegular;
  src: url(../Fonts/AktivGrotesk.ttf);  
}

.search-container {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.search-container input[type="text"] {
  padding: 10px;
  font-size: 16px;
  font-family: trialRegular;
  border: 1px solid blue;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.search-container button:hover {
  background-color: powderblue;
  color: black;
}

/* Top Navigation Bar Settings */
.topnav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2d0a4e;
}
.TopBar ul {
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  justify-content: space-evenly;
  background-color: #2d0a4e;
  list-style: none;
  font-family: juanaBold;
}
.TopBar ul a {
  color: white;
  text-decoration: none;
}
.TopBar li {
  padding: 10px 15px;
  border-radius: 10px;
  display: flex;
  transition: 1s ease-in-out;
}

.TopBar li img {
  margin-right: 5px;
}

.TopBar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.TopBar li:hover {
  background-color: #005ebc;
  color: black;
  transition: 0.2s ease-in-out;
}

/* Side Navigation Bar Settings */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 250px;
  background-color: rgba(119, 116, 141, 0.2);
  color: white;
  backdrop-filter: blur(10px);
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  transition: 0.4s;
}
.sidebar h1 {
  text-align: right;
  padding: 10px;
  padding-left: 85px;
  margin: 0;
  text-align: center;
}
.sidebar ul {
  padding: 30px;
}
.sidebar li {
  margin: 10px;
  border-radius: 10px;
  
  
}

}
.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: trialRegular;
}

.sideNav h1{
  font-family: juanaBold;
}

.sideNav a {
  color: #363333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.sideNav a:hover {
  border-radius: 10px;
  background-color: lightskyblue;
  color: black;
}

.sideNav .icon {
  vertical-align: middle;
  margin-right: 5px;
  width: 25px;
}

/* Main Settings */
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.column {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.459);
}

.column.left {
  width: 25%;
  background-color: #efe9e1;
  box-sizing: border-box;
}

.column.middle {
  width: 50%;
  background-color: #efe9e1;
  padding: 15px;
}
.column.middle h2 {
  text-align: center;
  margin: 20px;
  font-family: juanaBold;
}

.column.right {
  width: 25%;
  background-color: #efe9e1;
  padding: 15px;
}
.column.right img {
  width: 100%;
  height: auto;
  object-fit: contain;
  margin-top: 10px;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  font-family: trialRegular;
  background-color: powderblue;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
}
.product-card:hover {
  transform: scale(1.1);
  transition: 0.2s ease-in-out;
}

.product-card img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.categories {
  list-style-type: none;
  padding: 10px;
  font-family: trialRegular;
}

h2 {
  font-family: juanaBold; 
}

.categories li {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.categories li:hover {
  background-color: lightskyblue;
}

.calendar {
  background-color: #fff;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar h2 {
  margin-top: 0;
  font-size: 1.5rem;
  font-family: juanaBold;
}

.calendar__date {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.calendar__day,
.calendar__number {
  padding: 3px;
  background-color: #f1f1f1;
  text-align: center;
  border-radius: 4px;
  font-family: trialRegular;
}

.calendar__number--current {
  background-color: lightskyblue;
  color: white;
  font-weight: bold;
}
@media (max-width: 768px) { 
  .TopBar ul{
    flex-direction: column;
    height: auto;
    background-color: #2d0a4e;
  }

  .TopBar li {
    width: 100%;
    text-align: center;
    padding: 10px;
}

.TopBar li a {
    justify-content: center;
}

.TopBar ul a {
    display: block;
    padding: 10px;
}
  
}

@media screen and (max-width: 1024px) {
  .column.left,
  .column.middle,
  .column.right {
    width: 100%;
  }

  .header h2 {
    font-family: juanaBold;
    font-size: 2rem;
  }

  .header p {
    font-family: trialRegular;
    font-size: 1.5rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}

@media screen and (max-width: 480px) {
  .topnav .center {
    flex-direction: column;
  }

  .header {
    padding: 30px 10px;
  }

  .header h2 {
    font-size: 1.5rem;
    font-family: juanaBold; 
  }

  .header p {
    font-size: 1rem;
  }

  .product-grid {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

/* used to design the footer of the website */
footer {
  background-color: #2d0a4e;
  color: white;
  border: 8px solid #2d0a4e;
  font-family: trialRegular;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
footer a,
footer p,
footer div {
  color: white;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
footer a {
  transition: 1s ease-in-out;
  text-decoration: none;
}
footer p {
  float: left;
}
footer nav {
  display: flex;
  justify-content: center;
}
footer a:hover {
  color: #f8fbff;

  transition: 0.3s ease-in-out;
  background-color: #005ebc;
  border-radius: 20px;
  transition: 0.3s;
}
