* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}
body {
  min-height: 100vh;
  background-color: #efe9e1;
}

/* Adjust the header properties */
.topHeader {
  background-color: #b48fd9;
  padding: 15px;
  border-radius: 0px;
}

/* Adjust the main logo properties */
.logo {
  width: 5%;
  height: auto;
}
.headerLogo {
  padding-top: 30px;
  text-align: center;
}
.headerLogo img {
  width: 60px;
  height: auto;
}
.headerLogo h2 {
  font-size: 80px;
}
header div {
  text-align: center;
}

.worldMapContainer {
  background-color: #eeddc7;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);
}
.worldMapContainer h2 {
  text-align: center;
  padding: 30px;
}
svg path {
  fill: rgb(38, 64, 112);
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5px;

  transition: transform 0.6s, fill 0.6s;
}
svg path:hover {
  fill: rgb(188, 201, 230);
  transform: 0.6s;
  cursor: pointer;
}

/* Adjust the avg world map base on the size*/
#world-map {
  width: 95%;
  height: auto;
}
/* */
.topNav {
  border: 8px solid #42321f;
}
/* Adjust the top bar properties */
.PcTopBar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #42321f;
}
.PcTopBar .center-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.PcTopBar li {
  display: flex;
  align-items: center;
}
/* properties of the top navigation bar links */
.PcTopBar a {
  color: white;
  box-sizing: border-box;

  height: 100%;
  padding: 15px 30px;
  align-items: center;
  border-radius: 20px;

  text-decoration: none;
  transition: 1s ease-in-out;
}
.PcTopBar a:hover {
  border-radius: 20px;
  background-color: #555;

  transition: 0.3s;
}
.PcTopBar img {
  height: 100%;
}

/* Remove all the styles of all un-ordered list */
ul {
  list-style: none;
}

nav li {
  height: 50px;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

/* Resize the logo based on the screen size */
.logo {
  font-size: 100px;
  text-align: center;
  color: #004aad;
}

@media (max-width: 1200px) {
  .logo {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .logo {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .hideonMobile {
    display: none;
  }
}

/* adjust the paragraph in the center */
.mainText {
  text-align: center;
  margin: 70px;
  font-size: 20px;
}

/* shop now button element */
button {
  background-color: #004aad;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);

  transition: 0.3s ease-in-out;
}
button:active {
  background-color: #042e64;
}
button:hover {
  background-color: rgb(52, 121, 211);
  transition: 0.3s ease-in-out;
  transform: scale(1.1);
}

/* div element for the 'shop now button' */
/* used to center the button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* used to center the form with the inputs*/
form {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* used to adjust search input properties*/
form input {
  width: 350px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);
  transition: width 0.5s ease-in-out;
}
form img {
  margin-left: -50px;

  width: 35px;
  height: auto;
}

/* used to transition the search bar*/
form input:hover {
  width: 450px;
}

/* used to design the footer of the website */
footer {
  background-color: #42321f;
  color: white;
  border: 8px solid #42321f;
}
footer a,
footer p,
footer div {
  color: white;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 8px;
}
footer a {
  transition: 1s ease-in-out;
}
footer p {
  float: left;
}
footer nav {
  display: flex;
  justify-content: center;
}
footer a:hover {
  color: #f8fbff;

  transition: 0.3s ease-in-out;
  background-color: #005ebc;
  border-radius: 20px;
  transition: 0.3s;
}
