* {
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: #efe9e1;
}

.topHeader h1 {
  text-align: center;
  color: white;
  font-size: 30px;
}
.topHeader {
  background-color: rgb(153, 12, 153);
  padding: 15px;
  border-radius: 0px;
}
.h2 {
  padding: 3.5%;
}

.worldMapContainer {
  background-color: #eeddc7;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);
}
svg path {
  fill: rgb(38, 64, 112);
  stroke: rgb(255, 255, 255);
  stroke-width: 0.5px;

  transition: transform 0.6s, fill 0.6s;
}
svg path:hover {
  fill: rgb(188, 201, 230);
  transform: 0.6s;
  cursor: pointer;

  transform: scale(1.005); /* Scale the element by 20% */
}

/* Adjust the avg world map base on the size*/
#world-map {
  width: 95%;
  height: auto;
}
/* */
/* Center everything on the nav element */
nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  align-items: center;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  background-color: #626364;
}

nav li {
  height: 50px;
  align-items: center;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
}

/* add margin to everything inside nav element */
nav img,
nav a {
  height: 100%;
  padding: 0 30px;
  align-items: center;
}

/* adjust the properties links */
header a {
  color: black;
  text-decoration: none;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 8px;
}

/* used to transition the navigation bar*/
a:hover {
  color: #f8fbff;
  transition: 0.3s;
  background-color: #626364;
  border-radius: 20px;
}

/* Resize the logo based on the screen size */
.logo {
  font-size: 100px;
  text-align: center;
  color: #004aad;
}

@media (max-width: 1200px) {
  .logo {
    font-size: 80px;
  }
}

@media (max-width: 992px) {
  .logo {
    font-size: 60px;
  }
}

@media (max-width: 768px) {
  .logo {
    font-size: 50px;
  }
}

@media (max-width: 576px) {
  .logo {
    font-size: 40px;
  }
}
@media (max-width: 1000px) {
  .hideonMobile {
    display: none;
  }
}

/* adjust the paragraph in the center */
.mainText {
  text-align: center;
  margin: 70px;
  font-size: 20px;
}

/* shop now button element */
button {
  background-color: #004aad;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);
}
button:active {
  background-color: #042e64;
}
button:hover {
  background-color: rgb(52, 121, 211);
}

/* div element for the 'shop now button' */
/* used to center the button */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* used to center the form with the inputs*/
form {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* used to adjust search input properties*/
form input {
  width: 350px;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(68, 68, 82);
  transition: width 0.5s ease-in-out;
}

/* used to transition the search bar*/
form input:hover {
  width: 450px;
}

/* used to design the footer of the website */
footer {
  background-color: #42321f;
  color: white;
}
footer a {
  color: white;
  transition: 0.5s;
  padding: 10px 20px;
  border-radius: 8px;
}
